.positive {
    color: rgb(137 255 137);
}

.trade-team-info {}

.trade-team-info {
    background: rgb(55, 55, 55);
    padding: 5px 10px;
    border-radius: 15px;
    /* border: 2px solid green; */
    display: inline-block;
    margin: 5px 0;
}

.from-team {
    /* color: rgb(200, 2255, 255); */
    /* background: rgb(75 75 75); */
    /* color: rgb(200, 255, 255); */
    background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px;
}

.to-team {
    /* color: rgb(255 192 192); */
    background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px;
}

.difference {
    /* color: rgb(255 192 192); */
    background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px;
}

.negative {
    color: rgb(255 113 113);
}

.separator {
    padding: 0px 10px;
}

.simple-team-name {
    padding: 0px 10px;
}

.player-container {
    position: relative;
    display: inline-block;
}

.player-name {
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    /* Prevent line breaks inside the tooltip */
    bottom: 100%;
    /* Position above the player name */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s;
    max-width: 200px;
    /* Optional: Adjust max width of tooltip */
    text-align: center;
    /* Optional: Align text within the tooltip */
    word-wrap: normal;
    /* Ensure words don't wrap */
}

.player-container:hover .tooltip {
    visibility: visible;
    opacity: .9;
}