.positive {
    color: rgb(137 255 137);
}

.trade-team-info {
    background: rgb(55, 55, 55);
    padding: 5px 10px;
    border-radius: 15px;
    /* border: 2px solid green; */
    display: inline-block;
    margin: 5px 5px;
}

.from-team {
    /* background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px; */
}

.to-team {
    /* background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px; */
}

.difference {
    /* color: rgb(255 192 192); */
    background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px;
}

.negative {
    color: rgb(255 113 113);
}

.separator {
    padding: 0px 10px;
}

.simple-team-name {
    padding: 0px 10px;
}

.player-container {
    position: relative;
    display: inline-block;
}

.player-name {
    cursor: pointer;
    background: rgb(80 80 80);
    border-radius: 15px;
    padding: 3px 10px;
    margin: 0px 2px;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;
    /* Prevent line breaks inside the tooltip */
    bottom: 100%;
    /* Position above the player name */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s;
    max-width: 200px;
    /* Optional: Adjust max width of tooltip */
    text-align: center;
    /* Optional: Align text within the tooltip */
    word-wrap: normal;
    /* Ensure words don't wrap */
}

.player-container:hover .tooltip {
    visibility: visible;
    opacity: .9;
}

/* Player Styling */
.qb {
    /* background: rgb(53 191 107); */
    background: rgb(51 131 82);
}

.rb {
    /* background: rgb(72 154 255); */
    background: rgb(80 140 215);
}

.wr {
    /* background: rgb(191 53 53); */
    background: rgb(188 58 58);
}

.te {
    /* background: rgb(191 138 53); */
    background: rgb(190 137 53);
}