.trade-info {
    display: flex
}

.team-trades-container {
    margin-left: 25px
}

.simple-team-name {
    font-weight: bold;
}

.trade-calculator {
    margin-left: 50px
}


/* Form Stylings */
/* Container style (optional) */
.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    background: light-dark(rgb(100, 100, 100), rgb(155, 155, 155));
    border-radius: 15px;
    padding: 10px;
    /* min-width: 780px; */
    width: 550px;
    background: light-dark(rgb(200, 200, 200), rgb(55, 55, 55));
    /* color: white; */
}


.position-form-group {
    border: 1px solid light-dark(black, white);
    margin: 5px 0px;
    padding: 5px;
}

h3 {
    margin: inherit;
    text-decoration: underline;
}

/* Label styling */
label {
    font-size: 14px;
    font-weight: 600;
    /* color: #333; */
    margin-bottom: 4px;
    margin: 4px;
}

/* Input styling */
input[type="text"],
input[type="number"],
select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    background: light-dark(rgb(79, 79, 79), rgb(176, 176, 176));
    /* color: #333; */
    margin: 4px;
    /* color: #333; */
    /* background-color: #1a1a1a; */
    background-color: light-dark(rgb(175, 175, 175), rgb(80 80 80));
    ;
    color-scheme: light dark;

    margin-left: 17px;
}

/* Change border color on focus */
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    /* Soft blue for focus outline */
    outline: none;
}

/* Optional input hover effect */
input[type="text"]:hover,
input[type="number"]:hover,
select:hover {
    border-color: light-dark(#777777, #888);
}

/* Select styling */
select {
    /* appearance: none; */
    /* background-color: #fff; */
    cursor: pointer;
    /* background: rgb(176, 176, 176); */
    /* color: #333; */
    margin: 4px;
    /* color: #333; */
    /* background-color: light-dark(#e5e5e5, #1a1a1a); */
    background-color: light-dark(rgb(175 175 175), rgb(80 80 80));
    color-scheme: light dark;
}

button {
    background-color: light-dark(rgb(175 175 175), rgb(80 80 80));
}

/* Optional arrow icon for select elements */
select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    pointer-events: none;
}

/* Placeholder color */
input::placeholder {
    color: light-dark(#555555, #aaa);
    font-size: 12px;
}

/* Optional disabled styling */
input[disabled],
select[disabled] {
    background-color: light-dark(#080808, #f7f7f7);
    color: light-dark(#888888, #777);
    cursor: not-allowed;
}